/*
@import para incluir CSS externo
@media são regras condicionais para dispositivos
@font-face para fontes externas
@keyframes para animações
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

h1 {
    color: blue;   
    font-family: 'Montserrat', sans-serif;
}

strong {
    color: red;
}


body{
    height: 100vh;
    margin: 0;
}

.box {
    height: 80%;
    width: 100%;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    
  }
/*
  div{
    height: 100px;
    border: 1px solid red;
    width: 10px;
    
    margin: 20px;
  }

  span{
    width: 10px;
    height: 100px;
    border: 1px solid green;
    display: block;
  }

margens
    div{
        margin: 12px 16px 10px 4px;  top right bottom left 
        margin: 12px 16px 0px;  top, laterais, bottom 
        margin: 8px 16px;  top e bottom, laterais 
        margin: 8px;  todos os lados 

    } 
  */

  * {
    margin: 0;
}

body {
    height: 100px;
    border: 7px dashed red;
    background-color: rgb(55, 100, 50);
    background-image: url(https://blog.rocketseat.com.br/content/images/2020/08/favicon-512.png)
}